body{
    background-color:#cefbfb;
}

.calculator{
    width:300px;
    border-radius:10px;
    background-color:rgb(0, 0, 75);
    padding:10px;
    box-shadow:4px 4px 10px blueviolet;
}

.display{
    height:60px;
    font-size:24px;
    text-align:right;
    padding:5px;
    background-color: grey;
    border:1px solid white;
    border-radius:5px;
    margin-bottom:10px;
    overflow:auto;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4,3fr);
    gap:5px;
}

button
{
    height:80px;
    width:70px;
    font-size:25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-color:white;
}

button:hover{
    background-color:orange;
}